@model IEnumerable<Domain.Models.User>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="table-1" class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr id="@item.UserId" data-rowid="@item.UserId">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
            </td>
        </tr>
    }

</table>
<div class="result"></div>
@section scripts{
  @*<script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery.tablednd.js" integrity="sha256-d3rtug+Hg1GZPB7Y/yTcRixO/wlI78+2m08tosoRn7A=" crossorigin="anonymous"></script>*@
<script src="~/Scripts/jquery.tablednd.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Initialise the table
    $("#table-1").tableDnD({
        onDragClass: "myDragClass",
        onDrop: function (table, row) {
            var rows = table.tBodies[0].rows;
            var debugStr = "Row dropped was " + row.id + ". New order: ";
            for (var i = 1; i < rows.length; i++) {
                debugStr += rows[i].getAttribute("data-rowid") + " ";
                console.log(i+"-"+rows[i].getAttribute("data-rowid"));
            }
            $(table).parent().find('.result').text(debugStr);
        },
        onDragStart: function (table, row) {
            $(table).parent().find('.result').text("Started dragging row " + row.id);
        }
    });
});
</script>  
}